# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data
data/**/*.pdf
data/**/*.docx

# Virtual environments
env/
venv/
data/adversarial/adversarial_resumes.csv
data/adversarial/adversarial_parser_output.csv
data/clean_parser_output.csv
data/features/resume_features.csv
